<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>О нас</h1>
                <p>
                    "BookShop.Web" - это виртуальный магазин, предлагающий широкий выбор книг для любого читателя. Здесь можно найти книги различных жанров, включая популярные художественные произведения, научную литературу, книги для детей и многое другое. Все это доступно для покупки в любое время с комфортом и удобством вашего дома.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/img/static/about-3.svg" style="height: 500px; width: 500px;" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->

<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Мы предлагаем</h1>
            @* <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                Lorem ipsum dolor sit amet.
            </p> *@
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Выгодную доставку</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center">
                    <i class="fa-solid fa-box-open"></i>
                </div>
                <h2 class="h5 mt-4 text-center">
                    Широкий выбор товаров
                </h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa-solid fa-headset"></i></div>
                <h2 class="h5 mt-4 text-center">Клиентскую поддержку</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa-solid fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Программу лояльности</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Условия доставки</h1>
                <p>
                    "BookShop.Web", предлагает удобные условия доставки товаров своим клиентам. Доставка может быть осуществлена через службу доставки или курьерскую службу. Время доставки может зависеть от местоположения клиента и выбранного способа доставки. Клиенты также могут выбрать самовывоз товара из пункта выдачи.
"BookShop.Web" может предлагать специальные условия доставки, такие как бесплатная доставка при достижении определенной суммы заказа или скидки на доставку для постоянных клиентов.
Все условия доставки уточняйте у продавца на сайте "BookShop.Web" или по телефону клиентской службы.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/img/static/about-4.png" style="height: 500px; width: 500px;" alt="About Hero">
            </div>
        </div>
    </div>
</section>

<partial name="_PublishersPartial">

<section class="bg-success ">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-md-8 text-white">
                <h1>Широкий ассортимент товаров</h1>
                <p>
                    "BookShop.Web", предлагает широкий ассортимент товаров для любых вкусов и потребностей. В ассортименте магазина представлены книги на все возрастные группы, в том числе детские книги, учебные пособия, книги по бизнесу, психологии и многое другое.
В каталоге "BookShop.Web" также представлены различные жанры литературы, включая фантастику, детективы, романы, прозу и многое другое. Книги доступны в различных форматах, включая бумажные книги, электронные книги и аудиокниги.
"BookShop.Web" также предлагает широкий выбор подарков и аксессуаров, связанных с книгами, таких как записные книжки, карандаши, футляры для книг и многое другое.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/img/static/about-2.svg" style="height: 500px; width: 500px;" alt="About Hero">
            </div>
        </div>
    </div>
</section>
