@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h1>@ViewData["Title"]</h1>
<hr>
<h3>
    Пожалуйста, проверьте свой почтовый ящик для получения дальнейших инструкций
</h3>
