@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @await Component.InvokeAsync("Cart", User.Identity!.Name)
        </li>
        <li class="nav-item dropdown">
            <a asp-area="Identity" aria-current="page" aria-haspopup="true" asp-page="/Account/Manage/Index" title="Меню"
                class="dropdown-toggle position-relative text-decoration-none">
                <i class="fa fa-fw fa-user text-dark mr-3"></i>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <form method="get" id="profile" class="form-inline" asp-area="Identity"
                    asp-page="/Account/Manage/Index">
                        <button id="profile" type="submit" class="nav-link btn btn-link text-dark border-0">
                            <i class="fa-solid fa-user"></i> Личный кабинет</button>
                    </form>
                </li>
                <li class="dropdown-item">
                    <form method="get" id="favs" class="form-inline" asp-area="Identity"
                    asp-page="/Account/Manage/Favourites">
                        <button id="favs" type="submit" class="nav-link btn btn-link text-dark border-0">
                            <i class="fa-solid fa-heart"></i> Избранные товары</button>
                    </form>
                </li>
                <li class="dropdown-item">
                    <form method="get" id="orders" class="form-inline" asp-area="Identity"
                    asp-page="/Account/Manage/Orders">
                        <button id="orders" type="submit" class="nav-link btn btn-link text-dark border-0">
                            <i class="fa-solid fa-clipboard-list"></i> История заказов</button>
                    </form>
                </li>
                <li class="dropdown-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0"> <i
                                class="fa-solid fa-right-from-bracket"></i> Выйти</button>
                    </form>
                </li>

            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
        <li class="nav-item">
            @* @await Component.InvokeAsync("Cart", User.Identity!.Name) *@
            <a asp-controller="Basket" asp-action="Index" class="nav-icon position-relative text-decoration-none"
                title="Корзина">
                <i class="fa fa-fw fa-cart-arrow-down text-dark mt-2 pt-1 mx-2"></i>
                @* <span class="position-absolute top-0 left-30 translate-middle badge rounded-pill bg-light text-dark">
            @Model.Items.Count
            </span> *@
            </a>
        </li>
    }
</ul>
