
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] CDG.Web - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="apple-touch-icon" href="~/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/book.png">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <script src="https://kit.fontawesome.com/7fdcb5ad0b.js" crossorigin="anonymous"></script>
    <!-- -->

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/custom.js"></script>


</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" asp-controller="Orders" asp-action="Index">
                <img style="height: 88px; width: 280px;" src="~/img/logo_full_ADMIN.png" />
            </a>


            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-evenly mx-lg-5">
                        <li class="nav-item">
                            <div class="h5">
                            <a class="nav-link fw-bold" asp-controller="Products" asp-action="Index">Каталог</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="h5">
                            <a class="nav-link fw-bold" asp-controller="Orders" asp-action="Index">Заказы</a>
                             </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    @RenderBody()

    <!-- Start Footer -->
    <footer class="bg-dark mt-auto" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-4"></div>
                    <h2 class="h2 text-muted pb-3 logo">
                        <img style="height: 55px; width: 175px;" src="~/img/logo_full_ADMIN.png" />
                    </h2>
                </div>
            </div>
    </footer>
    <!-- End Footer -->



    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>