<div class="h-150 py-5 services-icon-wap shadow my-4">
    <div class="h1 text-primary text-center">
        <i class="fa-solid fa-face-sad-tear"></i>
    </div>
        <div class="row px-4 mx-4">
            <h2 class="h5 mt-2 text-center fw-bold">Корзина пуста!</h2>
            <a asp-controller="Catalog" asp-action="Index" class="btn btn-success mt-4 fw-bold ">В каталог
            <i class="fa-solid fa-bag-shopping"></i>
            </a>
        </div>
    </div>
</div>