@{
    var count = (int)ViewData["basketCount"]!;
}

<a asp-controller="Basket" asp-action="Index" class="nav-icon position-relative text-decoration-none"
    title="Корзина">
    <i class="fa fa-fw fa-cart-arrow-down text-dark mt-2 pt-1 mx-2"></i>

    <span id="basketCountPill" style="background-color: #394bd2;" class="position-absolute top-0 left-40 translate-middle badge rounded-pill text-dark">
        @count
    </span>

</a>
