@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@{
    Layout = "_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>На этой странице вы можете удалить свой аккаунт.</p>
        <p>
            <strong>Это действие нельзя отменить.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
