@model CheckOutViewModel

<section class="h-100" style="background-color: #C7E1D4;">
    <div class="container py-4 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h2 class="fw-bold mb-0 text-black">Оформление заказа</h2>
                                        <h6 class="mb-0 text-muted">Количество: @Model.TotalItems</h6>
                                    </div>
                                        <small class="text-muted pb-4">Заполните профиль в личном кабинете, чтобы часть информации вносилась автоматически</small>

                                    <div class="col-12">
                                        <partial name="_CheckoutDetailsPartial" model="@Model" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 bg-grey">
                                <div class="p-3 col">
                                    <div class="list-group">
                                        @foreach (var item in @Model.OrderItems)
                                        {
                                            <partial name="_CheckoutOrderItemCardPartial" model="@item" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}