<!-- Start Banner Hero -->

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/img/static/banner_img_01.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Book.Web</b> - любимая литература</h1>
                            <h3 class="h2">Книги в вашем городе!</h3>
                            <p>
                                Предлагаем широкий ассортимент книжной продукции для широкого круга читателей.
                                Ознакомьтесь с товарами на сайте и приходите к нам, либо оформите заказ и доставку!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/img/static/banner_img_02.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Книжные викторины</h1>
                            <h3 class="h2">С нами весело!</h3>
                            <p>
                                Приглашаем всех любителей чтения на увлекательную книжную викторину!
                                Примите участие в нашей викторине и покажите свои знания литературы.
                                Не пропустите возможность выиграть призы
                                и провести время в уютной атмосфере <strong>Bookshop.Web</strong>.
                                Викторина состоится 16 марта в 19:00. Ждем вас!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/img/static/banner_img_03.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Коллекционные издания</h1>
                            <h3 class="h2">Заходите к нам!</h3>
                            <p>
                                У нас вы найдете уникальные и редкие издания,
                                которые станут настоящей гордостью для вашей библиотеки.
                                Посетите наш магазин и получите возможность пополнить
                                свою коллекцию великолепными экземплярами книг
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->