@model CatalogViewModel

<partial name="_MainBannerPartial" />


<!-- Start Categories of The Month -->
@* <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Избранные категории</h1>
            <p>
                Самые посещаемые страницы нашего магазина.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/img/static/category_img_top10.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">ТОП-10</h5>
            <p class="text-center"><a class="btn btn-success">В каталог</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/img/static/category_img_best.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Бестселлеры</h2>
            <p class="text-center"><a class="btn btn-success">В каталог</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/img/static/category_img_classic.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Классика</h2>
            <p class="text-center"><a class="btn btn-success">В каталог</a></p>
        </div>
    </div>
</section> *@
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Популярные товары</h1>
                <p>
                    Ознакомьтесь с избранными товарами наших покупателей.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.CatalogItems!)
            {
                <partial name="_FeaturedProdCard" model="@item"/>
            }
        </div>
    </div>
</section>
<!-- End Featured Product -->


@section Scripts
{
  <script>
    function updateFavourite(itemId)
    {
      var divId = `#product-${itemId}`;
        console.log("Sending book id " + itemId);
      $.ajax(
      {
        url: "/Catalog/UpdateFav",
        type: "get",
        data:
        {
          itemId:itemId,
        },
        statusCode:{
          200: function (data, textStatus, jqXHR)
          {
            console.log(textStatus + ": " + jqXHR.status);

            console.log("Item id " + itemId + "; isFavourite: " + data.isFavourite);
            console.log("Updating catalog card id " + itemId);
            if(data.isFavourite == true)
            {
              $("#favIcon-" + itemId).find('i').removeClass('fa-regular fa-heart');
              $("#favIcon-" + itemId).find('i').addClass('fa-solid fa-heart');          }
            else
            {
              $("#favIcon-" + itemId).find('i').removeClass('fa-solid fa-heart');
              $("#favIcon-" + itemId).find('i').addClass('fa-regular fa-heart');
            }
          },
          401: function(data, textStatus, jqXHR){
              window.location.href = "http://localhost:5092/Identity/Account/Login?ReturnUrl=%2FHome%2FIndex";
          },
        }
      });
    }
    </script>
}