@model CatalogFilterViewModel

@* <div class="col-lg-3"> *@
<h1 class="h2 pb-4">Фильтр</h1>

<form asp-controller="Catalog" asp-action="Index" method="get">
    <div class="row">
        @Html.DisplayNameFor(Model => Model.KeyCategorys)
        <select class="form-control" asp-for="@Model.keyCategory" asp-items="@Model.KeyCategorys">
        </select>
    </div>
    
    <div class="row" class="my-4">
        <input type="submit" value="Применить" class="btn btn-success" />
    </div>
</form>
